@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

html {
  @apply bg-white;
}

* {
  box-sizing: border-box;
}
.CTA-button {
  @apply rounded-[10px] text-[18px] font-bold text-white py-[10px] px-[20px];
}