@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  @apply bg-white font-manrope;
}

* {
  box-sizing: border-box;
}
.CTA-button {
  @apply rounded-[10px] mobile:text-[14px] tablet:text-[16px] laptop:text-[18px] font-bold text-white py-[10px] px-[20px];
}